<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.xiaojinzi.rxjava.observable">

    <application>
        <meta-data
                android:name="HOST_observable"
                android:value="observable" />

        <activity android:name=".create.view.ObservableCreateAct" />
        <activity android:name=".run.view.RunObservableAct" />
    </application>

</manifest>