<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.xiaojinzi.rxjava.main">

    <application>
        <activity android:name=".home.HomeAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
